
@{
    ViewBag.Title = "NotConfirmedEmail";
}

<br /><br /><br />
            <h2>Please check your email and confirm your registration before  @Html.ActionLink("Login", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</h2>
